# 镜像配置
IMAGE=ghcr.io/lemonzuo/homer:latest

# Docker 运行配置
HOST_PORT=8081
TZ=Asia/Shanghai
GIN_MODE=release

# MySQL 连接配置
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_CHARSET=utf8mb4

# 服务端口
SERVER_PORT=8081
